.atb__form {
  background: border-box;
  margin-top: 3%;
  margin-left: 0;

  &__label {
    text-align: right;
    background-color: transparent;

  }
  &__entrada {
    width: 100%;
    background-color: transparent;

  }
  &__saida {
    padding: 2px 2px;
    text-align: center;

    background-color: transparent;
    /*var(--cor-tema-8)*/
  }
}
.atb__table {
  background-color: var(--cor-tema-2);
  &__head {
    td {
      text-align: center;
      background-color: var(--cor-tema-7);
      color: var(--cor-tema-1);
      border-radius: 5px;
      padding: 0.5em;
      width: 10%;
    }
  }
  &__body {
    /*border: 3px, double, var(--cor-alerta);*/
    border-radius: 10px;
    display: contents;
    tr{
      width: fit-content;
      text-align: center;
      border-radius: 10px;

    }
    td {
      width: fit-content;
      background-color: var(--cor-tema-6);
      color:var(--cor-tema-1);

    }
  }

}
  .confirmar{
    border-radius: 10px;
    position: relative;
    width: 100%;
    font-size: 24px;
    color: var(--cor-tema-1);
    background-color: var(--cor-tema-9);
  }
  .confirmar:hover{
    transition-duration: 0.7s;
    color: var(--cor-tema-10);
    background-color: var(--cor-tema-2);
  }


